WcfClient/Web References/StudentOperation/StudentOperation0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:39903/StudentOperation.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfStudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudent" nillable="true" type="tns:ArrayOfStudent" />
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" type="tns:Student.SexEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:simpleType name="Student.SexEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Boy" />
      <xs:enumeration value="Girl" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Student.SexEnum" nillable="true" type="tns:Student.SexEnum" />
</xs:schema>